<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1093921695234-kh23vfnhrhgktuvshipm7sltt954k2tu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1093921695234-kh23vfnhrhgktuvshipm7sltt954k2tu</string>
	<key>API_KEY</key>
	<string>AIzaSyDCGcHd5wDQk0RrpBaHPRf6XUANcj-EvjQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1093921695234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sheenmagazine</string>
	<key>PROJECT_ID</key>
	<string>sheen-magazine-90f67</string>
	<key>STORAGE_BUCKET</key>
	<string>sheen-magazine-90f67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1093921695234:ios:aa9f8b5648a7576161691b</string>
</dict>
</plist>